@import '../../../assets/styles/import.scss';

.header {
  background-color: $white;
  height: 5rem;
  display: flex;
  align-items: center;
  .container {
    @include container;
    width: 100%;
    display: flex;
    justify-content: center;
    .link {
      margin-right: 1.5rem;
      &.active {
        color: $card-border;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
}
