@import '../../../assets/styles/import.scss';

.card {
  width: 20rem;
  @include custom(320) {
    width: 17.5rem;
  }
  @include rounded;
  border: 1px solid $card-border;
  background-color: $white;
  position: relative;
  margin-bottom: 2rem;
  .header {
    padding: 1rem 1.5rem;
    border-bottom: 1px solid $card-border;
  }
  .body {
    padding: 1.5rem;
    .answer {
      margin-bottom: 1rem;
    }
  }
  .arrowRepeat {
    position: absolute;
    bottom: 0.5rem;
    right: 0.5rem;
    width: 2rem;
    height: 2rem;
  }
}
